<div class="app-container d-flex flex-column">
<div class="app-header-wrapper">
  <div class="app-header d-flex justify-content-between align-items-center px-4 py-4">
      <div class="app-med d-flex justify-content-start fs-3">
          <a href="#cover-page" class="cover-link">Logo</a>
      </div>
      <div class="app-menu">
          <ul class="list-inline my-0 fs-6">
              <li class="list-inline-item"><a href="#about">About Us</a></li>
              <li class="list-inline-item"><a href="portfolio">Portfolio</a></li>
              <li class="list-inline-item"><a href="contact">Contact Us</a></li>
          </ul>
      </div>
  </div>
</div>
<section class="app-content d-flex flex-column flex-grow-1">
  <div class="app-about d-flex flex-column flex-grow-1 pb-4">
    <div class="px-4">
      <div id="about-med" class="mb-5">
        <div class="d-flex flex-column justify-content-center mb-5">
            <div class="fs-1 text-center my-5">About Us</div>
            <div class="d-flex justify-content-center mb-5 about-med-wrapper">
                <div class="about-med-text d-flex flex-column justify-content-center fs-5">
                    <p class="mt-2">
                      Welcome to Rgv Healthcare, where we care for our health! As a cutting-edge medicine startup, we are driven by a singular mission: to revolutionize healthcare through groundbreaking solutions that enhance the quality of life for individuals around the globe.
                      </p>
                      <p class="mt-2">
                      At the heart of our endeavor is a commitment to pioneering research, development, and delivery of next-generation medicines that address unmet medical needs since October 2022
                      </p>
                      <p class="mt-2"> 
                      What sets us apart is not just our commitment to scientific excellence but also our unwavering dedication to accessibility and affordability. We envision a future where cutting-edge medicines are not just confined to laboratories but are accessible to individuals from all walks of life.
                      </p>
                      <p class="mt-2">
                      As we embark on this journey, we invite you to join us in shaping the future of healthcare. Whether you are a potential collaborator, investor, healthcare professional, or someone passionate about making a positive impact, Rgv Healthcare welcomes you to be part of our vision for a healthier, happier world.
                      </p>
                      <p class="mt-2">
                      Together, let's unlock new possibilities, elevate standards of care, and make strides towards a healthier tomorrow.
                      </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="app-footer text-center align-items-end py-2 px-4 mt-5">
      &copy; 2023 - 2033 Rgv Healthcare Private Limited. All rights reserved.
  </footer>
    </section>
</div>